* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color variables */
  --rose-800: #7A284E;
  --rose-50: #FFF7FB;
  --stone-900: #312E2C;
  --stone-600: #5F564D;
  --stone-150: #E3DDD7;
  --stone-100: #F3E5D7;
  --brown-800: #854632;
  --white: #FFFFFF;

  /* Spacing variables */
  --spacing-1600: 8rem;   /* 128px */
  --spacing-600: 3rem;    /* 48px */
  --spacing-500: 2.5rem;  /* 40px*/
  --spacing-400: 2rem;    /* 32px */
  --spacing-300: 1.5rem;  /* 24px */
  --spacing-200: 1rem;    /* 16px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-100: 0.5rem;  /* 8px */
}

/* Font Young Serif */
@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font Outfit - Variable Font */
@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 100 900; /* important for variable fonts */
  font-style: normal;
  font-display: swap;
}

/* Young Serif Regular 40px */
.text-preset-1 {
  font-family: "Young Serif", serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 400;
  line-height: 1;
}

/* Young Serif Regular 28px */
.text-preset-2 {
  font-family: "Young Serif", serif;
  font-size: 1.75rem; /* 28px */
  font-weight: 400;
  line-height: 1;
}

/* Oufit SemiBold */
.text-preset-3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  line-height: 1;
}

/* Oufit Regular */
.text-preset-4 {
  font-family: "Outfit", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5;
}

/* Oufit Bold */
.text-preset-4-bold {
  font-family: "Outfit", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 1.5;
}

body {
  background-color: var(--stone-100);
}

.container {
  display: flex;
  flex-direction: column;

  width: 46rem; /* 736px */
  margin: var(--spacing-1600) auto;

  background-color: var(--white);
  border-radius: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  padding: var(--spacing-500);
}

.recipe_img {
  height: 18.75rem; /* 300px */
  border-radius: 12px;
  object-fit: cover;
  margin-top: var(--spacing-500);
  margin-right: var(--spacing-500);
  margin-left: var(--spacing-500);
}

header p {
  color: var(--stone-600);
}

.title-margin {
  margin-bottom: var(--spacing-300);
}

.main-title {
  color: var(--stone-900);
}

.sub-title-color {
  color: var(--brown-800);
}

.line {
  background-color: var(--stone-150);
  height: 1px;
  border: 0;
}

ul, ol {
  list-style-position: inside;
  list-style: none;
  color: var(--stone-600);
}

li:not(:last-child) {
  margin-bottom: var(--spacing-100);
}

.preparation-section {
  padding: var(--spacing-300);
  background-color: var(--rose-50);
}

.preparation-title {
  color: var(--rose-800);
}

/**** START OF Styles for list on Preparation and Ingredients section ****/

.preparation-list,
.ingredient-list {
  padding-left: var(--spacing-100);
}

.preparation-list li,
.ingredient-list li {
  position: relative;
  padding-left: var(--spacing-400);
}

.preparation-list li::before,
.ingredient-list li::before{
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--rose-800);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/**** END OF Styles for list on Preparation and Ingredients section ****/

/**** START OF Styles for list on Instruction section ****/
.instruction-list {
  padding-left: var(--spacing-100);
  counter-reset: step;
}

.instruction-list li {
  position: relative;
  padding-left: var(--spacing-400);
}

.instruction-list li::before {
  counter-increment: step;
  content: counter(step) ".";
  position: absolute;
  left: 0;
  top: 0.2em;
  font-weight: 600;
  color: var(--brown-800);
}
/**** END OF Styles for list on Instruction section ****/

.nutrition-container p{
 color: var(--stone-600);
}

.nutrition-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: var(--spacing-300);
}

.nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

.nutrition-table tr th{
  padding-left: var(--spacing-400);
}

.nutrition-table tr td {
  padding-right: var(--spacing-400);
}

.nutrition-table tr:not(:last-child) th,
.nutrition-table tr:not(:last-child) td {
  padding-bottom: var(--spacing-150);
}

.nutrition-table tr:not(:first-child) th,
.nutrition-table tr:not(:first-child) td {
  padding-top: var(--spacing-150);
}

.nutrition-table th{
  color: var(--stone-600);
}

.nutrition-table td{
  color: var(--brown-800);
}

@media (max-width: 780px) {
  .container {
    width: calc(100% - 76px);
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .content {
    gap: var(--spacing-400);
    padding: var(--spacing-400);
  }

  .recipe_img {
    margin: 0;
    border-radius: 0;
  }
}