* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color variables */
  --rose-800: #7A284E;
  --rose-50: #FFF7FB;
  --stone-900: #312E2C;
  --stone-600: #5F564D;
  --stone-150: #E3DDD7;
  --stone-100: #F3E5D7;
  --brown-800: #854632;
  --white: #FFFFFF;

  /* Spacing variables */
  --spacing-1600: 8rem;   /* 128px */
  --spacing-600: 3rem;    /* 48px */
  --spacing-500: 2.5rem;  /* 40px*/
  --spacing-400: 2rem;    /* 32px */
  --spacing-300: 1.5rem;  /* 24px */
  --spacing-200: 1rem;    /* 16px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-100: 0.5rem;  /* 8px */
  }